/* 
  - оутлайн на всі блоки 
  - обгорнути секції в контейнер на 1230рх,
    падінг на контейнер left-right 15
    марджин лефт і райт авто https://youtu.be/_StgByWohXQ?t=3663 https://youtu.be/_StgByWohXQ?t=5200
  - боді скинути марджин на 0
  - add normalize css
  - переповнення тексту для кнопки min-width
  - іконки. поставити заливку кольором + радіус 100% https://youtu.be/_StgByWohXQ?t=3234


  - Меню: елементи в інлайн-блок, алайн ітемс, контакти марджин-лефт авто
  - Адаптивне розміщення блоків. 
    Флекс+ формула - марджини зі сторони і з низу
  - 1,38 переглянути про марджин -15
  - 2,04 переглянути про реверс

  - flex на всы секцыъ де це потрібно
  - 
  
*/

:root {
  --font-primary-color: #757575;
  --font-secondary-color: #212121;
  --font-third-color: #ffffff;

  --bgc-primary: #ffffff;
  --bgc-secondary: #f5f4fa;
  --bgc-footer: #2f303a;
  --bgc-card-description: rgba(33, 150, 243, 0.9);

  --font-button: #ffffff;
  --bgc-button: #2196f3;

  --hero-font-color: #ffffff;
  --font-active-element: #2196f3;
  --font-ftr-contact: rgba(255, 255, 255, 0.6);
  --font-ftr-copiright: rgba(255, 255, 255, 0.4);
}

/* Global css options for all pages */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 1px solid green;
}

body {
  margin: 0px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--font-primary-color);

  background-color: var(--bgc-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
}

/* delete underline from the link */
.link {
  text-decoration: none;
}

/* delete marker from the list */
.list {
  list-style: none;
}

/* hide the item */
.hiden {
  display: none;
}

/* Logo css options */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-color {
  color: var(--font-active-element);
}

/* Logo header */
.logo.hdr {
  color: var(--font-secondary-color);
}

/* Logo footer */
.logo.ftr {
  color: var(--font-third-color);
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Virtual button css options*/
.vrt-button {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--font-button);
  text-align: center;

  background-color: var(--bgc-button);
}

/* Filter button css options*/
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-secondary-color);

  background-color: var(--bgc-secondary);
}

.button:hover,
.button:focus {
  color: var(--font-third-color);

  background-color: var(--font-active-element);
}

/* Header Menu css options */
.menu .menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--font-secondary-color);
}

.menu .menu-item:hover,
.menu .menu-item:focus {
  color: var(--font-active-element);
}

.menu-item.active {
  color: var(--font-active-element);
}

/* Header contacts css options */
.icon-contact {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  vertical-align: middle;

  background-color: var(--font-primary-color);
}

.header .contact {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--font-primary-color);
}

.header .contact:hover,
.header .contact:focus {
  color: var(--font-active-element);
}

/* Hero css options*/
.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 45px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--hero-font-color);
  text-align: center;
  text-transform: uppercase;

  /* for example bgc */
  background-color: rgb(255, 0, 0);
}

/* Sections css options*/
.section {
  padding-top: 95px;
  padding-bottom: 95px;
}

.section.no-padding {
  padding-top: 95px;
  padding-bottom: 0px;
}

.section .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--font-secondary-color);
}

/* Feature css options */
.icon-feature {
  display: block;
  width: 278px;
  height: 120px;
  border-radius: 4px;

  background-color: var(--bgc-secondary);
}

.icon-feature:hover {
  background-color: var(--font-active-element);
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--font-secondary-color);
  text-transform: uppercase;
}

/* Product css options */
.products-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--font-third-color);
  text-align: center;
  text-transform: uppercase;

  /* for example bgc */
  background-color: rgb(255, 0, 0);
}

/* Team css options */
.team-bgc {
  background-color: var(--bgc-secondary);
}

.icon-team-social {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--font-primary-color);
}

.icon-team-social:hover,
.icon-team-social:focus {
  background-color: var(--font-active-element);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--font-secondary-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--font-primary-color);
}

/* Clients */
.icon-client {
  display: block;
  width: 175px;
  height: 90px;

  border: 3px solid var(--font-primary-color);
  border-radius: 5px;

  background-color: var(--bgc-primary);
}

.icon-client:hover,
.icon-client:focus {
  border: 3px solid var(--font-active-element);

  background-color: var(--bgc-primary);
}

/* Footer css options */
.footer {
  padding-top: 50px;
  padding-bottom: 0px;

  color: var(--font-third-color);

  background-color: var(--bgc-footer);
}

.address {
  font-style: normal;
}

.footer .contact {
  color: var(--font-ftr-contact);
}

.icon-social {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--font-primary-color);
}

.icon-social:hover {
  background-color: var(--font-active-element);
}

.social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.copiright {
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: var(--font-ftr-copiright);
}

/* Portfolio css options */
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--font-secondary-color);
}

.card-kinde {
  font-size: 16px;
  line-height: 1.87;
  color: var(--font-primary-color);
}

.card-description {
  font-size: 18px;
  line-height: 1.56;
  color: var(--font-third-color);

  background-color: var(--bgc-card-description);
}
